body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container {
  display: grid;
  grid-template-columns: 25% 75%;
}
.first_parti {
  background-image: url(../images/background-sidebar.svg);
  margin-left: 30px;
}
.first_parti.little_img {
  display: block;
  width: 200px;
  margin-top: 200px;
}

.first_parti a img {
  margin-bottom: 20px;
  width: 42px;
  height: 25px;
  margin-left: 24px;
}

.little_img .image:nth-child(1),
.little_img .image:nth-child(2),
.little_img .image:nth-child(3),
.little_img .image:nth-child(4),
.little_img .image:nth-child(5),
.little_img .image:nth-child(6) {
  margin-bottom: 20px;
  margin-left: 10px;
}
.little_img .image:nth-child(3) {
  color: #4039ce;
}

.little_img .image:nth-last-child(1) {
  margin-top: 500px;
}
.second_parti {
  margin: 20px;
  border: 1px solid #d0d5dd;
  padding: 20px;
  border-radius: 10px;
}
.second_parti_img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.images img {
  width: 100%;
  height: auto;
  border: 1px solid #d0d5dd;
  border-radius: 5px;
}
.images h3,
h2,
p {
  color: #000000;
  width: 200px;
  font-size: 14px;
  margin-top: 10px;
}

.form_article {
  margin-bottom: 20px;
  gap: 10px;
}

.articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 70px;
  border: 1px solid #d0d5dd;
  border-radius: 5px;
  padding-left: 10px;
  margin-bottom: 20px;
}

.admin h4 {
  margin-left: 355px;
  margin-top: -40px;
  font-size: 12px;
  color: #000000;
}
.admin p {
  margin-left: 355px;
  margin-top: -10px;
  font-size: 12px;
  color: #6b7280;
}

.admin img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 15px;
  margin-left: 300px;
}
.form_article input:nth-child(1) {
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-position: 8px;
  background-size: 20px 20px;
  width: 17.5%;
  height: 40px;
  border: 1px solid #d0d5dd;
  border-radius: 5px;
  padding-left: 30px;
}

.form_article input:nth-child(2),
.form_article input:nth-child(3),
.form_article input:nth-child(4),
.form_article input:nth-child(5) {
  background-image: url(../images/chervon-bas.svg);
  background-repeat: no-repeat;
  background-position: 79px;
  background-size: 10px 10px;
  width: 9%;
  height: 40px;
  border: 1px solid #d0d5dd;
  border-radius: 5px;
  padding-left: 5px;
}
.second_parti button {
  width: 100px;
  height: 40px;
  background-color: #2563eb;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}
.form_article a {
  background-image: url(../images/add-01\ .svg);
  background-repeat: no-repeat;
  background-position: 0px;
  background-color: #f7cb48;
  text-decoration: none;
  padding: 10px;
  padding-left: 20px;
  color: #000;
  margin-left: 50px;
  border-radius: 5px;
}
